@smarttwin:registry=https://s-tfs.intellectika.ru/DeveloperCollection/_packaging/Intellectica_Package/npm/registry/
always-auth=true
; begin auth token
//s-tfs.intellectika.ru/DeveloperCollection/_packaging/Intellectica_Package/npm/registry/:username=developerCollection
//s-tfs.intellectika.ru/DeveloperCollection/_packaging/Intellectica_Package/npm/registry/:_password=c3N2bW9hNmJhZDN4d2NldW00MzR6enJjeTRpcGZvcnplYXB2MjJmcHhnZ2prb25zZTdrYQ==
//s-tfs.intellectika.ru/DeveloperCollection/_packaging/Intellectica_Package/npm/registry/:email=npm requires email to be set but doesn't use the value
//s-tfs.intellectika.ru/DeveloperCollection/_packaging/Intellectica_Package/npm/:username=DeveloperCollection
//s-tfs.intellectika.ru/DeveloperCollection/_packaging/Intellectica_Package/npm/:_password=c3N2bW9hNmJhZDN4d2NldW00MzR6enJjeTRpcGZvcnplYXB2MjJmcHhnZ2prb25zZTdrYQ==
//s-tfs.intellectika.ru/DeveloperCollection/_packaging/Intellectica_Package/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
